@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

.mouse-recognizer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30vw;
    height: 30vh;
}

.cookie-banner {
  position: fixed;
  bottom: 10px;
  left: 10vw;
  width: 80vw;
  padding: 1vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}

.button-wrapper {
  width: 25vw;
  display: flex;
  justify-content: space-between;
}

button {
  /* button */
  border: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 1vw;
  margin-right: 1vw;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  font-size: medium;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;

  /* white */
  color: #000 !important;
  background-color: #fff !important;

  /* border */
  box-shadow: 0 2px 2px 0;
  border: 2px solid rgb(219, 219, 219) !important;

  /* round and large */
  border-radius:12px;
}

button.accept {
    border-color:#4CAF50!important
}

button.accept:hover {
    background-color: #4CAF50!important;
}

@keyframes minimize-button {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(200px);
    }
}

.minimize {
    animation: minimize-button 0.5s ease;
}

#decline {
  border-color: #f44336 !important;
}
#decline:hover {
    background-color: #f44336 !important;
}
